
{% extends "layout.html" %}

{% block pageTitle %}
  X - Digital Marketplace designs
{% endblock %}

{% block beforeContent %}

<div class="back">
  <a href="../buyer" class="govuk-back-link">Back to buyer's journey</a>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds intro">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      X
    </h1>
    <p class="govuk-body-l">X</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <div class="illustration">
    <img src="../public/images/placeholder.png" width="100%">
  </div>

  <h3 class="govuk-heading-m">X</h3>

  <p class="govuk-body">X</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>X</li>
  </ul>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--l">
    <h3 class="govuk-heading-l">What we did on the Digital Marketplace</h3>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h3 class="govuk-heading-m">X</h3>

    <p class="govuk-body">X</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>X</li>
    </ul>

<!-- Bit -->

    <h3 class="govuk-heading-m">Contact the Digital Marketplace team</h3>

    <p class="govuk-body">If you’d like to talk to us about the work we did, <a href="mailto:ccsrequests@digitalmarketplace.service.gov.uk">contact the Digital Marketplace team.</a></p>

  </div>
</div>

{% endblock %}
