
{% extends "layout.html" %}

{% block pageTitle %}
  Help a buyer answer questions while following procurement regulations - Digital Marketplace designs
{% endblock %}

{% block beforeContent %}

<div class="back">
  <a href="../buyer" class="govuk-back-link">Back to buyer's journey</a>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds intro">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Help a buyer answer questions while following procurement regulations
    </h1>
    <p class="govuk-body-l">This design allows suppliers to ask buyers questions about what they need to buy before applying for the work.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <div class="illustration">
    <img src="../public/images/publish-questions-and-answers.png" width="100%">
  </div>

  <h3 class="govuk-heading-m">How the design works</h3>

  <p class="govuk-body">Suppliers can ask buyers any questions they have about what the buyer wants. Using this design allows buyers to:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>clarify to suppliers what’s needed</li>
    <li>publish the questions for all suppliers to see</li>
    <li>remove any confidential supplier information before publishing the supplier’s question</li>
  </ul>

  <p class="govuk-body">Buyers must answer the question publicly and within an agreed time.</p>


  <h3 class="govuk-heading-m">Why this is useful</h3>

  <p class="govuk-body">Using this design:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>creates open and fair competition because the responses are publicly available</li>
    <li>allows suppliers to clarify what the buyer wants which saves time later</li>
    <li>means buyers can clarify or add any additional information</li>
  </ul>

  <p class="govuk-body">Publishing buyers requirements on the Digital Marketplace provides a space for the answers to live. This makes the process open and transparent.</p>


  <h3 class="govuk-heading-m">Things to consider</h3>

  <p class="govuk-body">If we were looking at this design again, we’d consider:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>capturing questions in the Digital Marketplace, rather than by emailing the buyer</li>
    <li>having shared access to a buyer account to make it easier to share questions around the team</li>
    <li>including the question in the Digital Marketplace and allowing buyers to edit, rather than expecting them to retype the question</li>
  </ul>

  <h3 class="govuk-heading-m">Where else this is used on the Digital Marketplace</h3>

  <p class="govuk-body">The same process is used to answer clarification questions when a framework is opening for supplier applications.</p>

<!-- Bit -->

    <h3 class="govuk-heading-m">Contact the Digital Marketplace team</h3>

    <p class="govuk-body">If you’d like to talk to us about the work we did, <a href="mailto:ccsrequests@digitalmarketplace.service.gov.uk">contact the Digital Marketplace team.</a></p>

  </div>
</div>

{% endblock %}
