
{% extends "layout.html" %}

{% block pageTitle %}
  Help a buyer cancel or withdraw requirements - Digital Marketplace designs
{% endblock %}

{% block beforeContent %}

<div class="back">
  <a href="../buyer" class="govuk-back-link">Back to buyer's journey</a>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds intro">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Help a buyer cancel or withdraw requirements
    </h1>
    <p class="govuk-body-l">This design helps buyers if they need to withdraw open requirements or cancel closed requirements.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <div class="illustration">
    <img src="../public/images/cancel-closed-requirements.png" width="100%">
  </div>

  <h3 class="govuk-heading-m">How the design works</h3>

  <h4 class="govuk-heading-s">Withdrawing open requirements</h3>

  <p class="govuk-body">Buyers can withdraw open requirements from their account.</p>

  <p class="govuk-body">Withdrawing a requirement publishes a banner at the top of their requirements page saying:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>the requirement has been withdrawn</li>
    <li>suppliers can no longer apply</li>
    <li>updated requirements may be published in future</li>
  </ul>

  <p class="govuk-body">Any applicants are emailed and told that their application has been cancelled. Any applications in draft can not be submitted.</p>


  <h4 class="govuk-heading-s">Cancelling closed requirements</h3>

  <p class="govuk-body">When the requirement has closed for applications, buyers are asked to confirm the supplier they’ve awarded the contract to.</p>

  <p class="govuk-body">If the buyer has not awarded a contract they can say if:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>the requirements have been cancelled</li>
    <li>there were no suitable suppliers</li>
  </ul>

  <div class="illustration">
    <img src="../public/images/withdraw-requirements.png" width="100%">
  </div>

  <p class="govuk-body">A banner is published at the top of their requirements page saying <a href="help-a-buyer-confirm-who-won-the-contract">what happened with the contract</a>, for example if the contract has been cancelled.</p>

  <p class="govuk-body">All applicants are emailed to say the buyer is publishing this information on the Digital Marketplace.</p>


  <h3 class="govuk-heading-m">Why this is useful</h3>

  <p class="govuk-body">The design makes the buying process transparent by making it clear to suppliers what’s happening with requirements.</p>


  <h3 class="govuk-heading-m">Things to consider</h3>

  <p class="govuk-body">By making the process of withdrawing and cancelling part of the buying journey, we help buyers to be more transparent in their feedback to suppliers.</p>

  <p class="govuk-body">More work could be done to encourage buyers to give more detailed feedback to unsuccessful suppliers.</p>

<!-- Bit -->

  <h3 class="govuk-heading-m">Contact the Digital Marketplace team</h3>

  <p class="govuk-body">If you’d like to talk to us about the work we did, <a href="mailto:ccsrequests@digitalmarketplace.service.gov.uk">contact the Digital Marketplace team.</a></p>

  </div>
</div>

{% endblock %}
