
{% extends "layout.html" %}

{% block pageTitle %}
  Help a buyer write and publish better requirements - Digital Marketplace designs
{% endblock %}

{% block beforeContent %}

<div class="back">
  <a href="../buyer" class="govuk-back-link">Back to buyer's journey</a>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds intro">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Help a buyer write and publish better requirements
    </h1>
    <p class="govuk-body-l">This design helps buyers write requirements with all the information suppliers need to apply for the work.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <div class="illustration">
    <img src="../public/images/write-and-publish-better-requirements.png" width="100%">
  </div>

<!-- Bit -->

  <h3 class="govuk-heading-m">How the design works</h3>

  <p class="govuk-body">This design:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>presents the buyer with a series of tasks to complete to create their requirements</li>
    <li>asks a buyer to answer a number of questions</li>
    <li>publishes the buyer’s responses as their requirements</li>
    <li>shows the user which steps they’ve already done</li>
    <li>makes sure all the relevant information is presented to the supplier in the published requirements</li>
  </ul>

<!-- Bit -->

  <h3 class="govuk-heading-m">Components used in the pattern</h3>

  <p class="govuk-body">This design is made up of the:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://design-system.service.gov.uk/patterns/task-list-pages/">task list pattern</a></li>
    <li><a href="https://design-system.service.gov.uk/patterns/check-answers/">check your answers pattern</a></li>
  </ul>

<!-- Bit -->

  <h3 class="govuk-heading-m">Why this is useful</h3>

  <p class="govuk-body">This design:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>gives buyers confidence that they’ve given suppliers all the information they need to apply</li>
    <li>means requirements are easier for suppliers to understand</li>
    <li>makes sure buyers are following the rules of the framework by making them provide all the required information, for example setting evaluation criteria upfront</li>
    <li>helps members of the public see what government is buying because it’s publicly available</li>
  </ul>

<!-- Bit -->

  <h3 class="govuk-heading-m">Things to consider</h3>

  <p class="govuk-body">Don’t use this design for a direct award framework.</p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--l">
    <h3 class="govuk-heading-l">What we did on the Digital Marketplace</h3>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <p class="govuk-body">This design allows suppliers to view the available opportunities to apply for work in one place and in a consistent format. It also means all available work is published publicly.</p>

  <div class="illustration">
    <img src="../public/images/requirements-questions-and-answers.png" width="100%">
  </div>

<!-- Bit -->

  <h3 class="govuk-heading-m">What we learnt</h3>

  <p class="govuk-body">Through testing and using this pattern we learnt that:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>the lack of a collaborative workflow meant buyers drafted requirements with colleagues using email and shared logins</li>
    <li>business and procurement teams work in isolation meaning requirements can lack detail or quality leading to poor responses</li>
    <li>buyers wanted to see a preview of their answers as requirements can’t be edited once published</li>
  </ul>

<!-- Bit -->

  <h3 class="govuk-heading-m">How to improve this</h3>

  <p class="govuk-body">Still worth considering:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>that there are a lot of questions to answer, which makes a lot of work for buyers</li>
    <li>making it clearer when steps in the buying process are locked, for example by using the narrow a search design</li>
    <li>helping buyers to improve the quality of the content they’re providing</li>
    <li>providing a quality control function on the content buyers provide</li>
    <li>improving collaboration online, for example by giving several users access to a shared buyer account</li>
  </ul>

<!-- Bit -->

  <h3 class="govuk-heading-m">Contact the Digital Marketplace team</h3>

  <p class="govuk-body">If you’d like to talk to us about the work we did, <a href="mailto:ccsrequests@digitalmarketplace.service.gov.uk">contact the Digital Marketplace team.</a></p>

  </div>
</div>

{% endblock %}
