
{% extends "layout.html" %}

{% block pageTitle %}
  Help a buyer download a list of suppliers to shortlist - Digital Marketplace designs
{% endblock %}

{% block beforeContent %}

<div class="back">
  <a href="../buyer" class="govuk-back-link">Back to buyer's journey</a>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds intro">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Help a buyer download a list of suppliers to shortlist
    </h1>
    <p class="govuk-body-l">This design gives buyers a list of all the suppliers whose services match their requirements and are ready to be shortlisted.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <div class="illustration">
    <img src="../public/images/download-shortlist-of-suppliers.png" width="100%">
  </div>

  <h3 class="govuk-heading-m">How the design works</h3>

  <p class="govuk-body">Once buyers have the list of all the eligible suppliers they can:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>download a spreadsheet of eligible suppliers in an open document format (ods) or machine readable format (csv)</li>
    <li>read guidance about what to do next, for example information about how to shortlist and evaluate suppliers</li>
    <li>shortlist and evaluate suppliers</li>
  </ul>


  <h3 class="govuk-heading-m">Why this is useful</h3>

  <p class="govuk-body">It gives the buyers a list of everybody that’s applied and how those suppliers meet their requirements.</p>


  <h3 class="govuk-heading-m">Things to consider</h3>

  <p class="govuk-body">Don’t use this if there’s no need to download a list of eligible suppliers.</p>


  <h3 class="govuk-heading-m">What we learnt</h3>

  <p class="govuk-body">When we tested and implemented this design we learnt that:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>most buyers downloaded their shortlist once they had reduced the list to less than 20 services</li>
    <li>some buyers expected to see a work history or company profile at this point to help with shortlisting</li>
    <li>having a shared access to a buyer account would encourage better team collaboration</li>
  </ul>


  <h3 class="govuk-heading-m">How to improve this</h3>

  <p class="govuk-body">This design could be improved if the shortlisting and evaluation process was all done online.</p>

<!-- Bit -->

  <h3 class="govuk-heading-m">Contact the Digital Marketplace team</h3>

  <p class="govuk-body">If you’d like to talk to us about the work we did, <a href="mailto:ccsrequests@digitalmarketplace.service.gov.uk">contact the Digital Marketplace team.</a></p>

  </div>
</div>

{% endblock %}
