
{% extends "layout.html" %}

{% block pageTitle %}
  Help a buyer confirm who won the contract - Digital Marketplace designs
{% endblock %}

{% block beforeContent %}

<div class="back">
  <a href="../buyer" class="govuk-back-link">Back to buyer's journey</a>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds intro">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Help a buyer confirm who won the contract
    </h1>
    <p class="govuk-body-l">This design helps buyers say which supplier they’ve awarded their contract to.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="illustration">
      <img src="../public/images/awarded-to-banner.png" width="100%">
    </div>

  <h3 class="govuk-heading-m">How the design works</h3>

  <p class="govuk-body">This includes various elements from the design system, including:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://design-system.service.gov.uk/patterns/task-list-pages/">the task list pattern</a></li>
    <li><a href="https://design-system.service.gov.uk/patterns/question-pages/">question pages</a></li>
    <li><a href="https://design-system.service.gov.uk/components/checkboxes/">checkboxes</a></li>
  </ul>

  <p class="govuk-body">Buyers are prompted by email, or shown a link in their account, to say if the contract has been awarded.</p>

  <p class="govuk-body">If it has been awarded, buyers are asked to provide information including the:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>name of the winning supplier</li>
    <li>value of the contract</li>
    <li>start and end date</li>
  </ul>

  <p class="govuk-body">Details can be published on the site, for example in a banner at the top of the requirements.</p>

  <div class="illustration">
    <img src="../public/images/confirm-who-won-the-contract.png" width="100%">
  </div>

<!-- Bit -->

  <h3 class="govuk-heading-m">Why this is useful</h3>

  <p class="govuk-body">This helps:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>buyers see which suppliers are winning contracts</li>
    <li>give buyers an opportunity to be open about their spending</li>
    <li>suppliers who want to know who won the contract</li>
  </ul>

<!-- Bit -->

  <h3 class="govuk-heading-m">Things to consider</h3>

  <p class="govuk-body">Don’t use this if you don’t need to gather information from your user about their activities.</p>

<!-- Bit -->

  <h3 class="govuk-heading-m">How to improve this</h3>

  <p class="govuk-body">Buyers have to publish information about awarded contracts on Contracts Finder.</p>

  <p class="govuk-body">Ideally, we would pass the information about awarded contract to Contracts Finder directly for buyers.</p>

<!-- Bit -->

  <h3 class="govuk-heading-m">Contact the Digital Marketplace team</h3>

  <p class="govuk-body">If you’d like to talk to us about the work we did, <a href="mailto:ccsrequests@digitalmarketplace.service.gov.uk">contact the Digital Marketplace team.</a></p>

  </div>
</div>

{% endblock %}
