{% extends "layout.html" %}

{% block pageTitle %}
  Buyer - Digital Marketplace designs
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2 govuk-!-margin-top-4">The buyer’s journey</h1>
    <p class="govuk-body-l">These designs were used on the Digital Marketplace to guide buyers through the buying journey.</p>
    <p class="govuk-body-l">The designs helped buyers to buy openly and fairly following procurement regulations.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <ul class="govuk-list timeline">

      <li class="timeline-entry">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Preparing to buy</h3>
        <p>Before going to market, buyers have to complete a number of steps offline. These include deciding what they need, <a href="https://www.gov.uk/guidance/talking-to-suppliers-before-you-buy-digital-marketplace-services">talking to suppliers</a> and getting budget approval.</p>
      </li>

      <li class="timeline-entry">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Finding a service or supplier</h3>
        <p>Depending on the framework, buyers need to either choose from a list of services or run a competition for suppliers.</p>
        <p>To find services, you may need to help a buyer:</p>
        <ul class="govuk-list--bullet last">
          <li><a href="buyer/help-a-buyer-get-the-most-relevant-search-results.html">get the most relevant search results</a></li>
          <li><a href="buyer/help-guide-a-buyer-through-the-steps-in-the-buying-process">through the steps in the buying process</a></li>
          <li><a href="buyer/help-a-buyer-download-a-list-of-suppliers-to-shortlist.html">download a list of suppliers to shortlist</a></li>
        </ul>
        <p>To find suppliers, you may need to help a buyer:</p>
        <ul class="govuk-list--bullet last">
          <li><a href="buyer/help-a-buyer-write-and-publish-better-requirements">write and publish better requirements</a></li>
          <li><a href="buyer/help-a-buyer-see-all-their-activities-on-the-digital-marketplace.html">see all their activities on the Digital Marketplace</a></li>
        </ul>
        <p>Buyers may also need help to:</p>
        <ul class="govuk-list--bullet last">
          <li><a href="buyer/help-a-buyer-cancel-or-withdraw-requirements.html">cancel or withdraw requirements</a></li>
          <li><a href="buyer/help-a-buyer-understand-changes-to-a-framework-that-might-affect-what-they-do-next.html">understand changes to a framework that might affect what they do next</a></li>
        </ul>
      </li>

      <li class="timeline-entry">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Answering supplier questions</h3>
        <p>Buyers need to answer any questions that suppliers have and publish their responses.</p>
        <p>Help a buyer to: </p>
        <ul class="govuk-list--bullet last">
          <li><a href="buyer/help-a-buyer-answer-questions-while-following-procurement-regulations.html">answer questions while following procurement regulations</a></li>
        </ul>
      </li>

      <li class="timeline-entry">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Shortlisting and evaluation</h3>
        <p>Buyers need to shortlist and evaluate their chosen services or suppliers. This process happens offline.</p>
        <p>To help buyers through this process, we’ve written guidance about what to consider when:</p>
        <ul class="govuk-list--bullet last">
          <li><a href="https://www.gov.uk/guidance/g-cloud-buyers-guide#review-and-compare-services">assessing services</a></li>
          <li><a href="https://www.gov.uk/guidance/how-to-shortlist-digital-outcomes-and-specialists-suppliers">shortlisting suppliers</a></li>
          <li><a href="https://www.gov.uk/guidance/how-to-evaluate-digital-outcomes-and-specialists-suppliers">evaluating suppliers</a></li>
        </ul>


      </li>

      <li class="timeline-entry">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Awarding a contract</h3>
        <p>Once a supplier or service has been chosen, buyers need to publish the winner’s details.</p>
        <p>Help a buyer to:</p>
        <ul class="govuk-list--bullet last">
          <li><a href="buyer/help-a-buyer-confirm-who-won-the-contract.html">confirm who won the contract</a></li>
        </ul>
      </li>

    </ul>

  </div>
</div>

{% endblock %}
