
{% extends "layout.html" %}

{% block pageTitle %}
  Help a supplier invite someone to join their account - Digital Marketplace designs
{% endblock %}

{% block beforeContent %}

<div class="back">
  <a href="../supplier" class="govuk-back-link">Back to supplier's journey</a>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds intro">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Help a supplier invite someone to join their account
    </h1>
    <p class="govuk-body-l">This design helps a supplier to invite a team member to access their account.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <div class="illustration">
    <img src="../public/images/invite-or-remove-a-contributor.png" width="100%">
  </div>

  <h3 class="govuk-heading-m">How the design works</h3>

  <p>Use this design if you need to:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>sign users up to an existing account</li>
    <li>help teams collaborate</li>
  </ul>

  <p>From their account page, suppliers can invite team members to join the account.</p>

  <p>Invited team members are emailed a link to sign in to the account. The email says who invited them.</p>

  <p>Once signed in, team members can see everything in the account. They can also, if they want, invite other team members.</p>

  <p>Any team members that no longer need access to the account can be removed.</p>

  <p>A confirmation banner appears at the top of the page to say the team member has been removed.</p>


  <h3 class="govuk-heading-m">Why this is useful</h3>

  <p>Suppliers have told us they don’t always work alone. They need other team members to do different tasks or provide sign-off. </p>

  <p>This design helps them to collaborate with their teams.</p>

  <p>They also need to be able to remove people from the account who have left the organisation.</p>


  <h3 class="govuk-heading-m">Things to consider</h3>

  <p>To improve this design, it might be worth thinking about:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>having a main administrator (‘super user’) who has control over all access rights</li>
    <li>if you had a main administrator, you’d need the ability to change that role</li>
    <li>the wording we use, for instance ‘contributors’ could be a bit unclear</li>
    <li>allowing user to remove themselves from the account</li>
  </ul>

<!-- Bit -->

    <h3 class="govuk-heading-m">Contact the Digital Marketplace team</h3>

    <p class="govuk-body">If you’d like to talk to us about the work we did, <a href="mailto:ccsrequests@digitalmarketplace.service.gov.uk">contact the Digital Marketplace team.</a></p>

  </div>
</div>

{% endblock %}
