
{% extends "layout.html" %}

{% block pageTitle %}
Help a supplier apply for work - Digital Marketplace designs
{% endblock %}

{% block beforeContent %}

<div class="back">
  <a href="../supplier" class="govuk-back-link">Back to supplier's journey</a>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds intro">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Help a supplier apply for work
    </h1>
    <p class="govuk-body-l">This design helps suppliers apply for contracts on the Digital Outcomes and Specialists framework.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <div class="illustration">
    <img src="../public/images/apply-for-work.png" width="100%">
  </div>

  <h3 class="govuk-heading-m">How the design works</h3>

  <p>Suppliers can search for contracts (or ‘opportunities’) on the Digital Marketplace without signing in. There’s also a link in their accounts to the advertised contracts.</p>

  <p>To find the most relevant contract, suppliers need to use the search filters. The filters include:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>location</li>
    <li>category</li>
    <li>whether applications are open or closed</li>
  </ul>

  <p>To apply for a contract, suppliers have to answer a series of questions. This section of the design uses the checkbox and textarea component.</p>

  <p>Suppliers confirm they have the skills the buyer asked for and then provide evidence of those skills. There’s a word limit on the evidence boxes.</p>

  <p>Before submitting their application, suppliers are invited to check and edit their answers. This uses the check answers pattern.</p>

  <p>When suppliers click the submit button a banner at the top of the page confirms:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>their application has been submitted</li>
    <li>what to do next</li>
  </ul>

  <h3 class="govuk-heading-m">Why this is useful</h3>

  <p>This design guides suppliers through the process of finding and applying for relevant contracts.</p>

  <p>By guiding suppliers through the questions it ensures they provide all the information the buyer needs to make a decision about their application.</p>

  <h3 class="govuk-heading-m">Things to consider</h3>

  <p>To improve the design, you could consider:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>making it clear that even if you’ve submitted your application, you can edit it up to the application deadline</li>
    <li>emailing suppliers to confirm their application has been submitted and what happens next</li>
  </ul>

<!-- Bit -->

    <h3 class="govuk-heading-m">Contact the Digital Marketplace team</h3>

    <p class="govuk-body">If you’d like to talk to us about the work we did, <a href="mailto:ccsrequests@digitalmarketplace.service.gov.uk">contact the Digital Marketplace team.</a></p>

  </div>
</div>

{% endblock %}
