
{% extends "layout.html" %}

{% block pageTitle %}
  Help a supplier copy a service - Digital Marketplace designs
{% endblock %}

{% block beforeContent %}

<div class="back">
  <a href="../supplier" class="govuk-back-link">Back to supplier's journey</a>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds intro">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Help a supplier copy a service
    </h1>
    <p class="govuk-body-l">This design helps a supplier to copy and reuse services they are already offering.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <div class="illustration">
    <img src="../public/images/placeholder.png" width="100%">
  </div>

  <h3 class="govuk-heading-m">How the design works</h3>

  <p>Use this design if you need to:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>reuse existing services</li>
    <li>allow users to copy services</li>
  </ul>

  <p>This design allows suppliers to copy all the information from any services they submitted for a previous framework application.</p>

  <p>This makes it quicker and easier for anyone who wants to move from one iteration of a framework to the next.</p>

  <p>Copying a service is straightforward.</p>

  <ul class="govuk-list govuk-list--number">
    <li>Suppliers click the ‘copy’ button next to the name of an existing service.</li>
    <li>This creates an exact copy of the service and puts it into ‘draft’.</li>
    <li>The new service has the word ‘draft’ at the end of the title.</li>
    <li>Suppliers can then edit the draft service if required.</li>
  </ul>

  <p>Suppliers can choose to copy all of their services or one by one.</p>

  <p>A confirmation banner confirms when each draft copy of a service has been created.</p>


  <h3 class="govuk-heading-m">Why this is useful</h3>

  <p>Creating a new service involves answering a lot of questions.</p>

  <p>Allowing suppliers to copy any existing service, and editing them if necessary, saves a lot of time and effort. </p>


  <h3 class="govuk-heading-m">Things to consider</h3>

  <p>During the application process for G-Cloud 10, over 50% of suppliers used the copy services feature. For applications to Digital Outcomes and Specialists 3, this number was around 30%. We think this is because Digital Outcomes and Specialists only requires suppliers to add one service per lot so the benefits of copying answers were not as great.</p>

  <p>However, this design was developed very quickly and there was no time to do any user research.</p>

  <p>It might be worth considering that:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>the ‘copy all services’ link disappears when you click it which may be an issue if suppliers want to copy services multiple times</li>
    <li>the ‘copy all services’ link should be more prominent on the page</li>
  </ul>

<!-- Bit -->

    <h3 class="govuk-heading-m">Contact the Digital Marketplace team</h3>

    <p class="govuk-body">If you’d like to talk to us about the work we did, <a href="mailto:ccsrequests@digitalmarketplace.service.gov.uk">contact the Digital Marketplace team.</a></p>

  </div>
</div>

{% endblock %}
