
{% extends "layout.html" %}

{% block pageTitle %}
  Help a supplier copy answers from previous frameworks - Digital Marketplace designs
{% endblock %}

{% block beforeContent %}

<div class="back">
  <a href="../supplier" class="govuk-back-link">Back to supplier's journey</a>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds intro">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Help a supplier copy answers from previous frameworks
    </h1>
    <p class="govuk-body-l">This design helps suppliers to copy their declaration answers from a previous framework application.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <div class="illustration">
    <img src="../public/images/copy-answers-from-previous-frameworks.png" width="100%">
  </div>

  <h3 class="govuk-heading-m">How the design works</h3>

  <p>Use this design if the supplier declaration has stayed very similar from one iteration of a framework to the next.</p>

  <p>Returning applicants will be asked if they want to reuse their answers from a previous application. If they agree to do this their answers will be carried over to their new application.</p>

  <p>All suppliers will be asked to review their answers and prompted to answer any new questions.</p>

  <p>This section of the application will only be complete once they have reviewed and confirmed this information. They can go back and edit their declaration at any point until the framework application deadline.</p>


  <h3 class="govuk-heading-m">Why this is useful</h3>

  <p>This saves time for suppliers and is useful for frameworks that have a short lifespan where suppliers are required to reapply annually to stay on the framework.</p>


  <h3 class="govuk-heading-m">Things to consider</h3>

  <p>It might be worth considering that:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>suppliers are only asked if they want to reuse answers once so if they say no their answers will not be copied and they’ll have to answer all supplier declaration questions again even if they change their minds later</li>
    <li>there is no pattern to show which sections have new questions when suppliers are reviewing their answers</li>
  </ul>


<!-- Bit -->

    <h3 class="govuk-heading-m">Contact the Digital Marketplace team</h3>

    <p class="govuk-body">If you’d like to talk to us about the work we did, <a href="mailto:ccsrequests@digitalmarketplace.service.gov.uk">contact the Digital Marketplace team.</a></p>

  </div>
</div>

{% endblock %}
