{% extends "layout.html" %}

{% block pageTitle %}
  Supplier - Digital Marketplace designs
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2 govuk-!-margin-top-4">The supplier’s journey</h1>
    <p class="govuk-body-l">These designs help suppliers sell their goods or services to public sector buyers.</p>
    <p class="govuk-body-l">They help a supplier to apply:</p>
    <ul class="govuk-body-l govuk-list govuk-list--bullet">
      <li>to join the framework</li>
      <li>for work on the framework</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <ul class="govuk-list timeline">

      <li class="timeline-entry">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Applying to a framework</h3>
        <p>Help a supplier to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="supplier/help-a-supplier-apply-to-a-framework">apply to a framework</a></li>
          <li><a href="#">copy answers from previous frameworks</a></li>
        </ul>
      </li>

      <li class="timeline-entry">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Managing and using the supplier account</h3>
        <p>Help a supplier to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#">invite someone to join their account</a></li>
          <li><a href="#">ask a question about a framework</a></li>
          <li><a href="#">copy a service</a></li>
        </ul>
      </li>

      <li class="timeline-entry">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Accepting a contract variation</h3>
        <p>Help a supplier to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#">accept a contract variation</a></li>
        </ul>
      </li>

      <li class="timeline-entry">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Signing and submitting a framework application</h3>
        <p>Help a supplier to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#">sign a contract</a></li>
          <li><a href="#">know their application has been submitted</a></li>
        </ul>
      </li>

      <li class="timeline-entry">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Applying for work on the framework</h3>
        <p>Help a supplier to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#">apply for work</a></li>
        </ul>
      </li>

      <li class="timeline-entry">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Managing applications and services</h3>
        <p>Help a supplier to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#">see all the work they’ve applied for</a></li>
          <li><a href="#">edit or withdraw services</a></li>
        </ul>
      </li>

    </ul>

  </div>
</div>

{% endblock %}
