{% extends "layout.html" %}

{% block pageTitle %}
  Supplier - Digital Marketplace designs
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2 govuk-!-margin-top-4">The supplier’s journey</h1>
    <p class="govuk-body-l">X</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <ul class="govuk-list timeline">

      <li class="timeline-entry">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">X</h3>
        <p>X</p>
      </li>

      <li class="timeline-entry">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">X</h3>
        <p>X</p>
      </li>

      <li class="timeline-entry">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">X</h3>
        <p>X</p>
      </li>

      <li class="timeline-entry">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">X</h3>
        <p>X</p>
      </li>

      <li class="timeline-entry">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">X</h3>
        <p>X</p>
      </li>

    </ul>

  </div>
</div>

{% endblock %}
