
{% extends "layout.html" %}

{% block pageTitle %}
  Digital Marketplace designs
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Digital Marketplace designs</h1>
    <p class="govuk-body-l">We used the <a href="https://design-system.service.gov.uk/">GOV.UK design system</a> as the basis for the Digital Marketplace designs.</p>
    <p class="govuk-body-l">In some cases, we needed to solve specific procurement problems for buyers. We describe how we did that here.</p>
    <p class="govuk-body-l">See <a href="/buyer">the buyer’s journey</a>.</p>
  </div>
</div>

{% endblock %}
